@font-face {
    font-family: satoshi;
    font-style: normal;
    font-weight: 400;
    src: local('Satoshi'), url('fonts/Satoshi-Regular.otf') format('otf');
}
@font-face {
    font-family: satoshi;
    font-style: normal;
    font-weight: 500;
    src: local('Satoshi'), url('fonts/Satoshi-Meduim.otf') format('otf');
}
@font-face {
    font-family: satoshi;
    font-style: italic;
    font-weight: 500;
    src: local('Satoshi'), url('fonts/Satoshi-MeduimItalic.otf') format('otf');
}
@font-face {
    font-family: satoshi;
    font-style: normal;
    font-weight: 300;
    src: local('Satoshi'), url('fonts/Satoshi-Light.otf') format('otf');
}
@font-face {
    font-family: satoshi;
    font-style: italic;
    font-weight: 300;
    src: local('Satoshi'), url('fonts/Satoshi-LightItalic.otf') format('otf');
}
@font-face {
    font-family: satoshi;
    font-style: italic;
    font-weight: 400;
    src: local('Satoshi'), url('fonts/Satoshi-Italic.otf') format('otf');
}
@font-face {
    font-family: satoshi;
    font-style: normal;
    font-weight: 700;
    src: local('Satoshi'), url('fonts/Satoshi-Bold.otf') format('otf');
}
@font-face {
    font-family: satoshi;
    font-style: italic;
    font-weight: 700;
    src: local('Satoshi'), url('fonts/Satoshi-BoldItalic.otf') format('otf');
}