//@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/clash-display');
@import './fonts.scss';

:root {
    --satoshi: 'Satoshi', sans-serif;
    --clash: 'Clash Display', sans-serif;
    --black: #2a254b;
    --gray: #726e8d;
    --lightGray: #5b5676;
}


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--satoshi);
    font-size: 16px;
    color: var(--black);
}
.container {
    max-width: 1440px;
    margin: auto;
}